<mat-dialog-content class="mat-typography dialog-dates">
  <h2>Preencha as informações abaixo para realizar a marcação</h2>
  <mat-form-field>
    <mat-label>Selecione a data</mat-label>
    <input
      [(ngModel)]="selectedDate"
      matInput
      [matDatepicker]="picker"
      (ngModelChange)="loadingAppointments($event)"
    />
    <mat-hint>DD/MM/AAAA</mat-hint>
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>
  <mat-form-field class="appointment_type">
    <mat-label>Selecione o tipo de consulta</mat-label>
    <mat-select [(ngModel)]="selectedAppointment" [disabled]="!selectedDate">
      <mat-option
        *ngFor="let appointment of appointments"
        [value]="appointment"
      >
        {{ appointment.speciality }}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field>
    <mat-label>Selecione o médico</mat-label>
    <mat-select
      [(ngModel)]="selectedDoctor"
      name="doctor"
      #doctor
      [disabled]="!selectedDate"
      (valueChange)="getDetailsAppointments($event)"
    >
      <mat-option *ngFor="let doctor of doctors" [value]="doctor">
        {{ doctor.name }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <div *ngIf="selectedDoctor">
    <h3>Detalhes da consulta</h3>
    <div class="appointment-details">
      <span>Valor: R$ {{ detailsAppointment.value }}</span>
      <span>Duração: {{ detailsAppointment.duration }} min</span>
    </div>
  </div>

  <button
    mat-raised-button
    color="primary"
    class="btn"
    (click)="this.data.editing ? updateAppointment() : addAppointment()"
    [disabled]="selectedAppointment == undefined"
  >
    {{ this.data.editing ? "Editar consulta" : "Cadastrar consulta" }}
  </button>
  <button mat-stroked-button color="primary" mat-dialog-close class="btn">
    Cancelar
  </button>
</mat-dialog-content>
